<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basket">

	<insert id="insert" parameterType="BasketDto">
		<bind name = "store" value = "basketBookNo != null and !basketBookNo.equals('')"/>
		<if test = "store">
		insert into basket(
		basket_no,basket_member_id,basket_book_no,basket_amount,basket_price,basket_book_title
		)
		values(
		basket_seq.nextVal,${basketMemberId},${basketBookNo},${basketAmount},${basketPrice},${basketBookTitle}
		)		
		</if>
		
	</insert>
	
</mapper> 







