<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
	<select id="list" parameterType="Map" resultType="BoardDto">
		select * from (
			select rownum rn, TMP.* from (
				select * from board 
				<if test="type != null and keyword != null">
					<![CDATA[ where instr(${type}, #{keyword}) > 0 	]]>
				</if>
							)TMP
		) where rn between #{begin} and #{end}
	</select>
	
		<select id="list2" parameterType="Map" resultType="BoardDto">
		select * from (
			select rownum rn, TMP.* from (
				select * from board_notice 
				<if test="type != null and keyword != null">
					<![CDATA[ where instr(${type}, #{keyword}) > 0 	]]>
				</if>
				order by board_no desc
							)TMP
		) where rn between #{begin} and #{end}
	</select>
	
		<select id="list1" parameterType="Map" resultType="BoardDto">
		select * from (
			select rownum rn, TMP.* from (
				select * from board_review
				<if test="type != null and keyword != null">
					<![CDATA[ where instr(${type}, #{keyword}) > 0 	]]>
				</if>
				order by board_no desc
							)TMP
		) where rn between #{begin} and #{end}
	</select>
	
		<select id="list3" parameterType="Map" resultType="BoardDto">
		select * from (
			select rownum rn, TMP.* from (
			
				select * from board_qna 
				<if test="type != null and keyword != null">
					<![CDATA[ where instr(${type}, #{keyword}) > 0 	]]>
				</if>
				order by board_no desc
							)TMP
		) where rn between #{begin} and #{end}
	</select>
	<select id="list4" parameterType="Map" resultType="BoardDto">
		select * from (
			select rownum rn, TMP.* from (
			select * from board
<!-- 				<if test="type != null and keyword != null"> -->
					<![CDATA[ where instr(board_head, '중고') > 0 ]]>
					and board_writer = 'bookadmin'
<!-- 				</if> -->
				order by board_no desc
							)TMP
		) where rn =1
	</select>
	
	<select id="count" parameterType="Map" resultType="int">
		select count(*) from board
		<if test="type != null and keyword != null">
			<![CDATA[
			where instr(${type}, #{keyword}) > 0
			]]>
		</if>
	</select>
	
		<select id="count1" parameterType="Map" resultType="int">
		select count(*) from board_review
		<if test="type != null and keyword != null">
			<![CDATA[
			where instr(${type}, #{keyword}) > 0
			]]>
		</if>
	</select>
	
		<select id="count2" parameterType="Map" resultType="int">
		select count(*) from board_notice
		<if test="type != null and keyword != null">
			<![CDATA[
			where instr(${type}, #{keyword}) > 0
			]]>
		</if>
	</select>
	
		<select id="count3" parameterType="Map" resultType="int">
		select count(*) from board_qna
		<if test="type != null and keyword != null">
			<![CDATA[
			where instr(${type}, #{keyword}) > 0
			]]>
		</if>
	</select>
	
			<select id="count4" parameterType="Map" resultType="int">
		select count(*) from board_used_book
		<if test="type != null and keyword != null">
			<![CDATA[
			where instr(${type}, #{keyword}) > 0
			]]>
		</if>
	</select>
	
	<update id="plusReadcount" parameterType="int">
		update board 
		set board_readcount = board_readcount + 1
		where board_no = #{boardNo}
	</update>
	
	<select id="one" parameterType="int" resultType="BoardDto">
		select * from board where board_no = #{boardNo}
	</select>
	
	<delete id="delete" parameterType="int">
		delete board where board_no = #{boardNo}
	</delete>
	
	<update id="edit" parameterType="BoardDto">
		update board
			set 
				board_title = #{boardTitle},
				board_content = #{boardContent}
			where
				board_no = #{boardNo}
	</update>
	
	<select id="sequence" resultType="int">
		select board_seq.nextval from dual
	</select>
	
	<insert id="write" parameterType="BoardDto">
		insert into board(
			board_no, board_head, board_title, board_content, board_writer
		)
		values(
			#{boardNo}, #{boardHead}, #{boardTitle}, #{boardContent}, #{boardWriter}
		)
	</insert>
	
</mapper> 








