<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lib">
   
	<select id = "sequence" resultType = "int">
      select lib_seq.nextval from dual
   </select>
   
   <select id="list" resultType="LibDto">
      select * from lib order by lib_no asc
   </select>
   
   <delete id="delete" parameterType="int">
      delete lib where lib_no = #{libNo}
   </delete>
   
   <insert id="insert" parameterType="LibDto">
      insert into lib(
            lib_no, lib_book_no, lib_lib_info_no, lib_amount,
            book_title, lib_name, lib_gu
         ) values (
            #{libNo}, #{libBookNo}, #{libLibInfoNo}, #{libAmount},
            #{bookTitle}, #{libName}, #{libGu}
         )
   </insert>
   
   <update id="update" parameterType="LibDto">
      update lib
         set
         	lib_no = #{libNo},
            lib_book_no = #{libBookNo},
            lib_lib_info_no = #{libLibInfoNo},
            lib_amount = #{libAmount},
            book_title = #{bookTitle},
            lib_name = #{libName},
            lib_gu = #{libGu}
         where
            lib_no = #{libNo}
   </update>
   
   <!-- 조인 -->
   <select id="one" resultType="LibDto" parameterType="int">      
		select * from lib 
		inner join book on book.book_no = lib.lib_book_no 
		where lib_book_no = #{libBookNo}
   </select>
   
   <select id="libSearch" resultType="LibDto" parameterType="int">
      select * from lib
      where instr(lib_lib_info_no, #{libLibInfoNo}) > 0
      order by lib_lib_info_no asc
   </select>
   
   <!-- 상혁님이 짜주신 코드!! -->
   <select id="sh" resultType="LibDto" parameterType="int">
        select linfo.lib_name, b.book_title
        from lib_info linfo, book b, lib l
        where l.lib_book_no = b.book_no
        and
        linfo.lib_info_no = l.lib_lib_info_no
        and
        l.lib_no = #{libNo};
   </select>
   
    <select id="findBook" resultType="LibDto" parameterType="int">
		select * from lib where lib_book_no= #{libBookNo} order by lib_gu asc
   </select>
   
      <update id="rental" parameterType="int">
      update lib
         set
            lib_amount = 1
         where
            lib_no = #{libNo}
   </update>

</mapper> 