<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payDetail">
		
		<select id = "sequence" resultType="int">
			select pay_detail_seq.nextval from dual
		</select>
		
		<insert id = "insert" parameterType = "PayDetailDto">
				insert into pay_detail(
					pay_detail_no,pay_no,pay_detail_name,
					pay_detail_quantity,pay_detail_price,pay_detail_status
				)
				values(
					#{payDetailNo},#{payNo},#{payDetailName},
					#{payDetailQuantity},#{payDetailPrice},'승인'
				)
			</insert>
			
			<select id="list" resultType="PayDetailDto" parameterType="int">
				select * from pay_detail where pay_no = #{payNo}
			
			</select>
			
			<select id = "one" resultType = "PayDetailDto" parameterType="int">
				select * from pay_detail where pay_detail_no = #{payDetailNo}
			</select>
			
			<select id="calculateCancelAmount" resultType="int" parameterType="int">
				select 
		   			 sum(pay_detail_price * pay_detail_quantity) "total"
				from pay_detail
				where 
						pay_no = #{payNo} and pay_detail_status = '승인'
	</select>
	
	
			<update id="cancelAll" parameterType="int">
				update pay_detail 
				set pay_detail_status = '취소'
				where pay_no = #{payNo}
			</update>
</mapper> 








