<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pay">
		
	<select id = "sequence" resultType = "int">
		select pay_seq.nextval from dual
	</select>
		
		<insert id ="insert" parameterType ="PayDto">
			insert into pay(
					pay_no,pay_tid,pay_total,pay_name,pay_time
				)
				values(
					#{payNo},#{payTid},#{payTotal},#{payName},sysdate
				)
				
		</insert>
</mapper> 








